#adress-page {
    width: 98.8vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#adress-page #top-text {
    font-size: 3vw;
    width: 90vw;
    margin: 5vh 0 6vh 0;

}

#adress-page .today-background {
    background-color: #fff3c1;
    width: 96.4vw;
    height: 97vh;

    margin: 1.2%;
    border-radius: 10px;

    position: absolute;

    z-index: -1;
}

#adress-page #content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#adress-page #content #map {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#adress-page #content #map #map-box {
    width: 100%;
    height: 100%;
}

#adress-page #content #picture {
    width: 40vw;
    margin-right: 2%;
    border-radius: 15px;
}

@media(max-width: 814px){
    #adress-page #content #map {
        width: 40vw;
        height: 60vh;
    }
    #adress-page #top-text {
        margin-bottom: 13vh;
    }
}

@media(max-width: 648px) {
    #adress-page #content #map {
        width: 40vw;
        height: 40vh;
    }
    #adress-page #top-text {
        margin-bottom: 25vh;
    }
}

@media(max-width: 490px) {
    #adress-page #content {
        flex-direction: column;
    }
    #adress-page #top-text {
        margin-bottom: 5vh;
    }
    #adress-page #content #map {
        width: 90vw;
        height: 50vh;
    }
    #adress-page #content #picture {
        width: 60vw;
        margin-bottom: 1%;
    }
    #adress-page #top-text {
        font-size: 4vw;
    }
}